* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

/* header area section css */

.header-area {
    height: 100vh;
    width: 201.6vh;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.header-area-content {
    padding: 15% 20%;
    color: white;
}

.header-area-content h1 {
    font-size: 60px;
    text-align: center;
}

.header-area-content p {
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 5%;
}

.donate-button {
    text-decoration: none;
    padding: 10px 30px;
    color: white;
    border-radius: 5%;
    background-color: rgb(181, 33, 6);
    font-weight: 600;
    margin-left: 40%;
}

/* donate area section css */
.donate-area-content {
    padding: 8% 20%;
    color: black;
}

.donate-area-content h1 {
    font-size: 50px;
    text-align: center;
}

.donate-area-content p {
    font-size: 19px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 8%;
    color: gray;
}

/* amount area css */

.amount {
    width: 16%;
    padding: 3% 2%;
    margin-left: 3%;
    font-weight: 900;
    font-size: 25px;
    border: none;
    color: rgb(104, 100, 100);
    display: inline;
    text-align: center;
    background-color: rgb(220, 216, 216);

}

#adiff {
    background-color: rgb(247, 211, 216);
    border: 2px solid rgb(227, 88, 111);
    font-size: 30px;
    color: tomato;
}